<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/video">Test</a>
    </nav>
    <div id="content">
        <h1>About Us</h1>
        <p>Our project focuses on developing an innovative solution for detecting cheating in online exams. With the increasing popularity of online education, the need to ensure academic integrity has become paramount.
            Our project aims to address this challenge by employing advanced algorithms and techniques to detect cheating behavior during online exams.
        </p>
        
        <div id="contact-info">
            <h2>Contact Information</h2>
            <ul>
                <li>Email: <a href="info@caspianic.com">info@caspianic.com</a></li>
                <li>Phone: +994 (12) 521 06 06</li>
                <li>Location: <a href="https://www.google.com/maps/place/Caspian+Innovation+Center/@40.3790735,49.8748122,15z/data=!4m6!3m5!1s0x4030637a0f6b0655:0x7d2c772424391932!8m2!3d40.3790735!4d49.8748122!16s%2Fg%2F11g3gsbv5r?entry=ttu">Afiyaddin Jalilov 27A, AZ1025,</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
