<!DOCTYPE html>
<html>
<head>
    <title>Upload Video</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_video.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/video">Test</a>
    </nav>
    <h1>Upload Video</h1>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('process_video') }}">
        <input type="file" name="video" accept="video/*" required>
        <button type="submit">Upload</button>
    </form>
</body>
</html>
